# This file is part of importer.
# https://github.com/heynemann/importer

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2016, Bernardo Heynemann <heynemann@gmail.com>

recursive-exclude tests *
